.header {
  height: 70px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.header img {
  margin-left: auto;
  margin-right: 40px;
}

.header h3 {
  margin-left: 64px;
}

.headbtn {
  width: 292px;
  display: inline-block;
  height: 70px;
  color: #fff;
  background: #3d639d;
  border-radius: 0px 0px 0px 30px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  border: none;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.headbtn span {
  margin-left: 12px;
}
