.bg {
  background: #3d639d;
  top: 70px;
  border-radius: 0px 30px 0px 0px;
  width: 263px;
  height: calc(100vh - 70px);
  position: fixed;
  color: #fff;
}

.items {
  margin-left: 30px;
  padding-top: 39px;
}

.items li {
  list-style: none;
  margin-top: 11px;
}

.items li span {
  margin-left: 30px;
  margin-right: 15px;
}

.items li a {
  display: block;
  padding: 15px 0;
  display: flex;
  align-items: center;
}
